.navbar {
  background: rgb(245, 235, 220);
  color: rgb(31, 31, 31);
  margin: 0px auto;
  max-width: 100%;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  // Start Navbar Left
  ul {
    display: flex;
    justify-content: center;
    max-height: 78px;
    padding: 30px;
    gap: 1.5rem;

    li {
      padding: 0;
    }

    .burgerkingLogo {
      max-width: 3.5rem;
      margin: -1rem 2.5rem;
    }

    .dropdownMenu {
      opacity: 1;
      position: absolute;
      top: 4.9rem;
      left: 28rem;
      padding: 22rem 0.6rem 22rem;
      box-sizing: border-box;
      background: rgb(245, 235, 220);
      border-radius: 10px;
      box-shadow: rgb(0 0 0 / 10%) 0px 2px 8px;

      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
