.navbar {
  background: $softColor;
  color: rgb(31, 31, 31);
  margin: 0px auto;
  max-width: 100%;

  .humburgerShow {
    display: block;
  }

  .humburgerRemove {
    display: none;
  }

  .burgerkingLogo {
    max-width: 3.5rem;
    margin: -1rem 2rem;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 78px;
    padding: 30px;
    gap: 1.5rem;
    font-weight: bolder;

    .dropdown {
      visibility: visible;

      opacity: 1;
      position: absolute;
      top: 78px;
      left: 526px;
      width: 320px;

      box-sizing: border-box;
      background: rgb(245, 235, 220);
      border-radius: 10px;
    }

    .dropdownItem a {
      width: 100%;
      height: 100%;
    }
    .hasDropdown:focus-within .dropdown {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
